<!-- This is the configuration for CLARIN harvesting. -->
<config>

  <!-- ### configuration settings ### -->
  <settings>
    <!-- Working directory. -->
    <workdir>oai</workdir>

    <!-- Maximum number of attempts per record before giving up. -->
    <max-retry-count>2</max-retry-count>

    <!-- Sequence of delays between retries of a record (seconds). 
    If the sequence size is smaller than the number of retries the last value will be reused-->
    <retry-delay>10 20</retry-delay>

    <!-- Maximum number of concurrent harvester threads -->
    <max-jobs>4</max-jobs>

    <!-- Number of resources placed in the resource pool. -->
    <resource-pool-size>4</resource-pool-size>

    <!-- Default timeout (for connection and reading) for a single
    http request in seconds. If unspecified, will be INFINITE.  -->
    <timeout>60</timeout>

    <!-- File used to log harvesting times. -->
    <state-file>state.xml</state-file>

    <!-- If this parameter is true, use incremental harvesting. For that to
    work, state-file must be defined, the file must exist, and the provider
    in question must have been harvested previously. If any of these conditions
    is not fulfilled, this setting has no effect.-->
    <incremental>true</incremental>
    
    <!-- Scenario to use:
         - ListRecords will retrieve batches of records from the providers, the batch size is determined by the provider
         - ListIdentifiers will first retrieve all record identifiers and then retrieve records one by one
    -->
    <scenario>ListIdentifiers</scenario>
  </settings>

  <!-- ### output directories (referenced in the action section) ### -->
  <directories>
    <!-- When the attribute 'max-files' is non-zero, subdirectories
         will be created to ensure no directory has more than that
         number of files. -->
    <dir path="error" id="err" max-files="0"/>
    <dir path="ead" id="ead" max-files="0"/>
  </directories>
  
  
  <!-- ### actions to take on metadata formats (in order of preference) ### -->
  <actions>
    <format match="prefix" value="oai_ead">
<!--  <action type="transform" file="https://raw.githubusercontent.com/clarin-eric/oai-harvest-manager/master/src/main/resources/filter.xsl"/> -->
      <action type="save" dir="err" group-by-provider="true" suffix=".xml"/> 
      <action type="split"/>
      <action type="strip"/>
      <action type="save" dir="ead" group-by-provider="true" suffix=".xml" find=".*/(repositories/.*)" replace="$1" />
    </format>
  </actions>
  
  <!-- ### list of providers ### -->
  <providers>
    <provider url="https://archives.vmfa.museum/oai" name="VMFA" >
       <filter>.//url[contains(.,'resources/37')]</filter>
    </provider>    
    <provider url="https://as-oai.lib.odu.edu" name="ODU" timeout="30" /> 
    <provider url="https://archives.library.vcu.edu/oai" name="VCU" /> 
    <provider url="https://aspace.lib.vt.edu:8082" name="VT" />  
    <provider url="https://aspace.lib.jmu.edu/oai" name="JMU" />  
    <provider url="http://alexlibraryva.libraryhost.com:8082" name="ALEX" />  
    <provider url="https://archives.mountvernon.org/oai" name="MV" />  
    <provider url="https://aspace.umw.edu/oai" name="MW" />  
    <provider url="https://aspace.gmu.edu/oai" name="GMU" />
    <provider url="https://archives-oai.lib.virginia.edu" name="UVA" /> 
    <provider url="https://archives.longwood.edu/oai" name="LONG" /> 
    <provider url="https://archives.richmond.edu/oai" name="RICH" />  
    <provider url="https://archives.lib.wvu.edu/oai" name="WVU" timeout="120" >
       <filter>.//url[contains(.,'resources/1')]</filter>
    </provider>
    <provider url="http://archivespace.hsc.edu:8082" name="HSC" />
    <provider url="https://wluoai.as.atlas-sys.com/oai" name="WLU" /> 
  </providers>
</config>
